@font-face {
  font-family: 'titrefont';
  src: url('fonts/letra.ttf');
  font-weight: normal;
}

body, html{height:100%;}

body{
  text-align: center;
/*background-image: url('images/fond.png');
  background-size: cover;*/
}

figure{
  text-align: left;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}

#main{
  max-width:1280px;
  min-height:100%;
}

header{
  position: relative;
}

h1 {
  text-align: center;
  font-family: titrefont;
  font-size: 110px;
  color: #0B4C5F;
  margin-top: 5px;
  font-weight: normal;
  width: 400px;
  height: 110px;
  margin-bottom: 10px;
}

.logo img{
  width: 140px;
  height: 100px;

}

.menu{
  position: absolute;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Arial', sans-serif;
  color: black;
  line-height: 2;
  margin-left: auto;
  font-size: 18px;
  float: left;
  margin-top: 50px;
  margin-left: 10px;
  text-align: left;
}

.menu2 {
  margin-left: 18px;
  font-size: 15px;
}

a {
  text-decoration:none;
  color: #0B4C5F;
}

a:hover{
  color: #659DAE;
}

.menu > a {
  font-weight: bold;
}

.menu-social{
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  margin-top: 40px;
}

.menu-social p {
  color: #0B4C5F;
  font-weight: bold;
}

.menu-social a {
  display: inline-block;
  padding-right: 7px;
}

#diaporama .img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mentions{
  margin-top: 70px;
  margin-left: 250px;
  margin-right: 100px;
  text-align: justify;
  font-family: 'Arial' sans-serif;
}

.mentions p {
  font-size: 14px;
}

.mentions h2{
  font-family: titrefont;
  font-size: 40px;
}

footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    border-color: #0B4C5F;
    background-attachment: scroll;
    background-image: none;
    background-color: white;
    background-repeat: repeat;
    width: 100%;
    color: #0B4C5F;
    height: 40px;
}
